/* Changed the background of website, font size and make the font larger with this code */
 body {
 background-color:rgb(183, 246, 193);
 font-family:"Sofia", san-serif;
 font-size: large;
   
}
/* Colored the header and center the header */
h1, h2 {
color:rgb(0, 51, 255);
text-align: center;

}
 
 /* Changed the color of the paragrah and makde the font larger */
p {
font-size: large;
color:blue

}

/* Used this code to build the table width, height and border and made it soild  */

table { border-collapse: collapse;
    width:100% ;
    height:100% ;

}

table,th,td {
    border: 1px solid;
}
 
/* Used this code so when you hover over the table it is gray */
 tr:hover{

    background-color: gray;
}

/* On the order listed, I had I used the ID box model to make a box using paddingg, margin, width,made the border dotted and colored so it was easier to see, make the back ground color gray  */
#box-model {

    padding: 15px;
    margin: 5px;
    width: 100%;
    background-color: gray;
    border-style: dotted; border-color:antiquewhite

/* Used the float code to float the pictures to the right for the page to look better layed out, I did have change the px of the pictures */
}


 img{

    float: right;
 }

/* centered the home, about and contact link to make it look better and be in line with the about and home page */

div{
    
    text-align: center;
    
}

/* Used the class hov code so you can hover over the form on the contact and when you do it go from antiquewhite to orange */
.hov{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

.hov:hover{
    background-color: orange;
}
 